  body {
      overflow-y: hidden;
  }

  main {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      min-height: calc(100vh - 40px);
      background-color: rgb(0, 122, 255) !important;
  }

  .d-none {
      display: none;
  }

  .main_card {
      width: 30rem;
  }

  .answer_card {
      cursor: pointer;
      ;

  }

  .answer_card:hover {
      background-color: rgb(248, 243, 243);
  }

  .bg-success,
  .bg-danger {
      color: white !important;
  }

  #result_section {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .resultscreen_img {
      width: 250px;
      height: 250px;
      object-fit: contain;
      margin-bottom: 1rem;
  }


  footer {
      border-top: 1px solid, ;
      display: flex;
      justify-content: space-between;
      padding-top: 12px;
      align-items: center;
  }